path = './assets/fonts/fregat/'

@font-face 
    font-family 'Fregat'
    src local('Fregat'), url(path'fregat.woff2') format('woff2'), url(path'fregat.woff') format('woff'), url(path'fregat.ttf') format('truetype')
    font-weight 400
    font-style normal
 
@font-face
    font-family 'Fregat'
    src local('Fregat Italic'), local('Fregat-Italic'), url(path'fregatitalic.woff2') format('woff2'), url(path'fregatitalic.woff') format('woff'), url(path'fregatitalic.ttf') format('truetype');
    font-weight 400
    font-style italic

@font-face
    font-family 'Fregat'
    src local('Fregat Bold'), local(path'Fregat-Bold'), url(path'fregatbold.woff2') format('woff2'), url(path'fregatbold.woff') format('woff'), url(path'fregatbold.ttf') format('truetype');
    font-weight 700
    font-style normal


