#books
  padding-bottom 7.65625vw
  .books_wrapper
    max-width 1298px
    max-height 625px
    width 67.604vw
    height 32.552vw
    margin 0 auto
    padding-bottom 1.302vw
    ul 
      overflow-x: auto
      overflow-y: hidden
      max-width 2604px
      width 135.625vw
      li
        float left
        margin-right 1.145833vw
        &:last-child
          margin-right 0!important
        a
          border 0.729vw solid active
          display inline-block
          height 29.427vw
          transition border-color 0.3s ease-out
          user-select none
          position relative
          display flex
          flex-wrap nowrap
          justify-content center  
          align-items center          
          &:after
            content ""
            display block
            background url(./assets/icons/paper-plane.svg) no-repeat 15px center
            background-color rgba(40%, 35%, 63%, 0.95)
            background-size 60%
            width 5.2083vw
            height 5.2083vw
            position absolute
            border-radius: 2.604vw
            transition all .3s ease-out
            opacity 0
          &:hover
            border-color #adadf7
            &:after
              opacity 1
            img
              -webkit-filter brightness(110%)
              filter brightness(110%)
          img
            width 20.15625vw
            height 27.96875vw
            -webkit-filter brightness(95%)
            filter brightness(95%)          
            -webkit-transition all .3s ease
            -moz-transition all .3s ease
            -o-transition all .3s ease
            transition all .3s ease
            user-select none
    .scrollbar-thumb
      position relative
      &:after
        content ""
        display block
        width 5px
        height 1px
        position absolute
        left 50% 
        top 0px
        background-color transparent
        border 0 solid #6558a0
        border-radius 15px
        transition all .2s ease-in
  @media screen and (min-width: 768px)
    .books_wrapper:hover
      .scrollbar-thumb
        &:after
          width 30px
          height 30px
          left calc(50% - 15px)
          top -11px
          border 7px solid #6558a0
          background-color white!important