#contacts
  context = 19.2
  get-vw(target) 
    (target / context)vw 
  .appeal_wrapper
    overflow: hidden
    width: get-vw(735px)
    margin: 0 auto get-vw(50px)
    padding: 0 get-vw(50px)
    box-sizing: content-box  
    .message
      max-width get-vw(392px)
      color white
      font-size get-vw(24px)
      line-height get-vw(30px)
      background-color message_bg
      position relative
      border-radius get-vw(100px)
      padding get-vw(26px) get-vw(32px) get-vw(26px) get-vw(40px)
      box-sizing content-box
      margin 0 auto 30px
      user-select none
      .extended_logo
        display block
        width get-vw(100px)
        height get-vw(100px)
        position absolute
        right get-vw(-127px)
        bottom get-vw(-10px)      
      &:after
        content ""
        display block
        background url(./assets/icons/message_tail.svg) no-repeat bottom right
        position absolute
        width get-vw(35px)
        height get-vw(55px)
        right get-vw(-11px)
        bottom 0
    .message_response
      max-width get-vw(373px)
      color black
      font-size get-vw(24px)
      line-height get-vw(30px)
      background-color message_response_bg
      position relative
      border-radius get-vw(100px)
      padding get-vw(26px) get-vw(32px)
      box-sizing content-box
      margin 0 auto get-vw(20px)
      float left
      clear left
      left get-vw(120px)
      user-select none
      animation animationEnter 1s ease-out 1
      @keyframes animationEnter {
        0% { transform: scale(0) }
        50% { transform: scale(1.1) }
        100% { transform: scale(1) }  
      }
      &:before
        content ""
        display block
        background url(./assets/icons/message_response_tail.svg) no-repeat bottom right
        position absolute
        width get-vw(35px)
        height get-vw(55px)    
        left get-vw(-11px)
        bottom 0 
      &:after
        content ''
        display block
        background url(./assets/icons/unknown_user.svg) no-repeat bottom right
        position absolute
        border-radius: get-vw(50px)
        width get-vw(100px)
        height get-vw(100px)
        left get-vw(-120px)
        bottom get-vw(-10px)
  form 
    margin 0 auto get-vw(80px)
    max-width get-vw(475px)
    position relative
    .typing_wrap
      margin-left get-vw(20px)
      margin-bottom get-vw(5px)
      display block
      width 100%
      position absolute
      bottom 100%    
      .typing
        font-size 16px
        color gray   
    textarea
      width 100%
      height get-vw(300px)
      font-size get-vw(24px)
      line-height get-vw(30px)
      background-color bg
      resize none
      margin-bottom get-vw(35px)
      outline none
      border none
      border-radius get-vw(20px)
      padding get-vw(20px)
    input.button 
      width  get-vw(185px)
      margin 0 auto
      font-size  get-vw(18px)
      font-weight bold
      outline none 
      cursor pointer
      color white
      border none
      background #d81392
      background -moz-linear-gradient(left, #ff01d1 0%, #ff01a5 28%, #ff9b33 100%)
      background -webkit-linear-gradient(left, #ff01d1 0%,#ff01a5 28%, #ff9b33 100%)
      background linear-gradient(to right, #ff01d1 0%, #ff01a5 28%, #ff9b33 100%)
      -webkit-transition all .3s ease
      -moz-transition all .3s ease
      -o-transition all .3s ease
      transition all .3s ease
      user-select none      
      &:hover
        opacity 0.7
  footer 
    width 100%
    background-color bg
    padding get-vw(35px) 0 get-vw(30px)
    ul.contacts
      display flex
      flex-wrap nowrap
      justify-content center
      align-items center     
      li
        margin-right get-vw(65px)
        &:last-child
          margin-right 0
        a
          display block
          &.moi_krug img
            width get-vw(182px)
            height get-vw(44px)
          &.github img
            width get-vw(128px)
            height get-vw(35px)
          &.linkedin img
            width get-vw(169px)
            height get-vw(42px)
          img
            transition all .3s ease-out
          img:hover
            filter brightness(120%)
            user-select none