.timeline_block
  font-size 1.5625vw
  line-height 1.979166667vw
  margin 0 auto
  margin-left 22.916vw
  padding-bottom 7.65625vw
  padding-left 3.854166667vw
  width 61% 
  max-width 904px
  border-left 0.46875vw solid dark_active
  position relative
  &:last-child
    padding-bottom 2.604vw
    border-left-color transparent
  &:before
    content ""
    display block
    width 1.5625vw
    height 1.5625vw
    background-color white
    border 0.46875vw solid dark_active
    border-radius 1.78125vw
    position absolute
    box-sizing content-box
    top -0.104166667vw
    left -1.484375vw
  span
    &.date
    &.company
    &.position
      display block
    &.date
      font-size 1.979vw
      font-weight bold
      letter-spacing 0.05208vw
      position absolute
      left -17.0833vw
      top 0
      width 13.0208vw
      text-align right
    &.company
      font-size 1.979vw
      font-weight bold
      letter-spacing 0.104vw
    &.position
      font-size 1.4583vw
      font-style italic
      color gray
      margin 0.2604vw 0 0.5208vw
    &.no_site
      color gray