#page-wrap
  overflow hidden
  min-width 320px
.menu
  width 100vw
  min-width 320px
  background-color bg
  display flex
  flex-wrap nowrap
  justify-content center
  position absolute
  padding-top 1.57vw
  top 0
  left 0
  z-index 10  
  .logo
    width 37%
    max-width 548px
    svg 
      width 8.5vw
      position relative

  nav
    margin-top 1.41vw
    a
      float left
      color dark
      font-size 1.5vw
      text-decoration none
      margin-right 3.7vw
      position relative
      &:last-child
        margin-right 0
.appeal
  margin-top 6.3vw
  width 37%
  max-width 548px
  h1 
    font-size 4vw
    font-weight bold
    line-height 6.3vw
    color black
    font-size-adjust 0.48
  h2
    font-size 1.7vw
    font-weight 400
    letter-spacing 0.7vw
    color dark
    text-transform uppercase
    margin-bottom 0.9vw

  .underline
    background-color blue
    width 7.8vw
    max-width 150px
    height 0.42vw
    max-height 8px
    border-radius 20px
  
  p
    color gray
    font-size 1.2vw
    line-height 1.9vw
    width 80%
    max-width 438px
    margin 0.8vw 0 2.13vw
  .button
    float left
.illustration
  #illustration
    position relative
    #background
      width 47.8vw
    .computer_wrap
      position absolute
      top 11.09375vw
      left 12.34375vw
      width 24.375vw
      .telnet_wrap
        position absolute
        width 16.0416vw
        height 9.53125vw
        top 4.94791vw
        left 2.2395vw
        padding 0.78125vw
        overflow hidden
        .vue-typer
          font-family 'Fregat', monospace
          font-size 1.1458vw
          line-height 1.3541vw
          user-select none
          .custom.char.typed
            color black
    .icon_ubuntu  
      position absolute
      top 8.0729vw
      left 32.3958vw
      width 3.4375vw
    .icon_github
      position absolute
      width 3.4375vw 
      top 0.5208vw
      left 33.333vw
    .icon_laravel
      position absolute
      top 21.666vw
      left 12.5vw
      width 3.541vw
      height 2.447vw  
    .icon_bitbucket
      position absolute
      top 20.416vw
      left 37.2916vw
      width 2.864vw
      height 3.125vw   
    .icon_docker
      position absolute
      top 5.9375vw
      left 16.5625vw
      width 5.833vw
      height 5.2083vw        
    .icon_git
      position absolute
      top 16.25vw
      left 2.395vw
      width 1.875vw
      height 2.291vw   
    .icon_vim
      position absolute
      top 13.9583vw
      left 8.75vw
      width 2.65625vw
      height 2.760vw    
    .icon_git2
      position absolute
      top 4.791vw
      left 27.395vw
      width 2.4479vw
      height 2.4479vw                              
  img 
    width 47.8vw