.appeal
  margin-top 6.3vw
  width 37%
  max-width 548px
  h1 
    font-size 4vw
    font-weight bold
    line-height 6.3vw
    color black
  h2
    font-size 1.7vw
    font-weight 400
    letter-spacing 0.7vw
    color dark
    text-transform uppercase
    margin-bottom 0.9vw

  .underline
    background-color blue
    width 7.8vw
    max-width 150px
    height 0.42vw
    max-height 8px
    border-radius 20px
  
  p
    color gray
    font-size 1.2vw
    line-height 1.9vw
    width 80%
    max-width 438px
    margin 0.8vw 0 2.13vw

  .button
    float left

.illustration
  img 
    width 47.8vw