color_1 = #bab7e2
.ivanopol_logo 
  .a  
    fill #e7e4fd
  .b
    stroke #201600
    stroke-miterlimit 10
    stroke-width 2px
  .b
  .c
    fill #e18c44
  .d 
    fill #201600
  .e
    fill #d76446
.docker
.laravel
.bitbucket
.ubuntu
.github
.git
.git2
  .a
    fill color_1
.vim
  .a
  .c
    opacity 0.2
    isolation isolate
  .b
    fill color_1
  .c
  .d
    fill white
.github
  .b
    fill #b0add8
  .c
    fill white
.git2
  .b
    fill white
.background
  .a
    fill #e7e4fd
.computer
  .a
    isolation isolate
  .b
    fill #cacafc
  .c
    fill #49439e
  .d 
    fill #5752b7
  .e
  .n
    fill #c1c1f9
  .f
    opacity 0.35
  .g
    fill #fff
  .h
    opacity 0.25
  .h
  .n
    mix-blend-mode multiply
  .i
    fill #aeacf9
  .j
    fill #e6a42a
  .k
    fill #ededed
  .l
    fill #7979e0
  .m
    fill #cdcdfc
  .m1
    fill #39ea49
  .m2
    fill #fac536  
  .m3
    fill #f25056              
  .n
    opacity 0.55
  .o
    fill #a2a1f3
.docker
.laravel
.bitbucket
.ubuntu
.github
.git
.git2
.vim
  .a
  .b
    transition all 0.5s ease-out
.bitbucket:hover
  .a
    fill #2680f8
.laravel:hover
  .a
    fill #ec533e
.git:hover
  .a
    fill #3b2c02
.git2:hover
  .a
    fill #ea5132
.github:hover
  .a
    fill #323232
  .b
    fill #000000
.vim:hover
  .b
    fill #529633
.ubuntu:hover
  .a
    fill #d7491c   
.docker:hover
  .a
    fill #0f97e6
 