@import '../../../node_modules/jeet/stylus/jeet/index'
@import '../fonts/fregat/fregat'

reset();

bg = #fafaff
select = #e7e4fd
active = #c1c1f9
dark_active = #6558a0
blue = #619ef7
black = #312a20
dark = #43443e
gray = #8c8c8c
green = #c5edbe
green_active = #9fdd92
yellow = #ebdda7
orange = #e8c6a7
red = #e2c6bf
red_active = #c18e87

html 
  font-family 'Fregat'
  font-size 62.5%
  overflow-x hidden 
  box-sizing border-box

underline()
  content ""
  display block
  background-color blue
  width 7.8vw
  max-width 150px
  height 0.42vw
  max-height 8px
  border-radius 20px
  margin 1.511vw auto 0

  @media screen and (min-width: 1920px)
    margin 29px auto 0

a
  color blue

.button
  display block
  background-color select
  color black
  font-size 1.2vw
  font-weight 700
  line-height 1.2vw
  letter-spacing 1px
  text-transform uppercase
  text-decoration none
  padding 0.85vw 1.23vw 0.64vw 1.2vw
  border-radius: 50px
  transition background 0.2s ease-out
  user-select none
  &:hover
    background active
  .icon_pdf
  .icon_zoom
    width 1.45vw
    height 1.6vw
    margin-left 0.48vw
    display inline-block    
    vertical-align middle
    position relative
    top -2px  
  .icon_pdf
    background url('./assets/icons/pdf.svg') no-repeat left center
  .icon_zoom
    background url('./assets/icons/zoom.svg') no-repeat left center

.img_wrapper
  height 18.8vw
  display flex
  flex-wrap nowrap
  justify-content center  
  align-items center  
.container 
  *zoom 1
  width auto
  max-width 1605px
  float none
  display block
  margin-right auto
  margin-left auto
  padding 0 3.19vw
  &:before, &:after 
    content ''
    display table
  &:after 
    clear both
  .block_wrapper
    display flex
    flex-wrap nowrap
    justify-content center
    .block 
      *zoom 1
      clear none
      text-align inherit

.substrate 
  background-color bg
  width 100vw
  padding 1.57vw 0 5vw

.menu
  display flex
  flex-wrap nowrap
  justify-content space-around
  .logo
    img 
      width 8.5vw
      left: -3.2vw;
      position: relative;

  nav
    margin-top 1.41vw
    a
      float left
      color dark
      font-size 1.5vw
      text-decoration none
      margin-right 3.7vw
      &:last-child
        margin-right 0

.appeal
  margin-top 6.3vw
  width 37%
  max-width 548px
  h1 
    font-size 4vw
    font-weight bold
    line-height 6.3vw
    color black
  h2
    font-size 1.7vw
    font-weight 400
    letter-spacing 0.7vw
    color dark
    text-transform uppercase
    margin-bottom 0.9vw

  .underline
    background-color blue
    width 7.8vw
    max-width 150px
    height 0.42vw
    max-height 8px
    border-radius 20px
  
  p
    color gray
    font-size 1.2vw
    line-height 1.9vw
    width 80%
    max-width 438px
    margin 0.8vw 0 2.13vw

  .button
    float left

.illustration
  img 
    width 47.8vw
.slide
  max-height 975px
  height 50.8vw
  display flex
  justify-content center
  align-items center
  .content_wrapper
    max-width: 610px
    width 31.78vw
    img
      display block
      &.pgti_img
        max-width 171px
        width 8.91vw
      &.pnipu_img
        max-width 210px
        width 11vw
      &.avatar
        max-width 281px
        width 16.356vw
        max-height 281px
        height 16.356vw
        border-radius 200px
        border 0.68vw solid select
        border-right-width 1.04vw
        border-bottom-width 1.04vw
        margin 0 auto 3.66vw
    p
      font-size 1.567vw
      line-height 2.09vw
      position relative
      &.born:before
        content ""
        background url('./assets/icons/born.svg') no-repeat center center
        max-width 32px
        width 1.667vw
        max-height 58px
        height 3.021vw
        display block
        position absolute
        left -3.334vw
        top -0.834vw
      &.born:after
        underline()
      &.pgti
      &.pnipu
        margin-bottom 2.345vw
      &.pgti:before
      &.pnipu:before
        content ""
        background url('./assets/icons/study.svg') no-repeat center center
        max-width 51px
        width 2.605vw
        max-height 32px
        height 1.667vw
        display block
        position absolute
        left -3.594vw   
.siema_wrapper
  position relative
  .button_wrapper
    text-align center
    .button
      display inline-block
  .arrow
    max-width 88px
    max-height 88px
    width 4.587vw
    height 4.587vw
    display block
    position absolute
    top 50%
    cursor pointer
    border-radius 50px
    span
      color gray
      font-size 1vw
      line-height 1.7vw
      position absolute
      top 5.21vw
  .arrow_left
    left 6.801vw
    background bg url('./assets/icons/arrow_left.svg') no-repeat center
  .arrow_right
    right 6.801vw
    background bg url('./assets/icons/arrow_right.svg') no-repeat center
  .arrow_left
  .arrow_right
    background-size 73%
    transition background 0.2s ease-out
    &:hover
      background-color select
.title
  font-size 1.875vw
  font-weight bold
  text-align center
  letter-spacing 0.104vw
  margin-top 3.75vw
  margin-bottom 4.2708vw
  &:after
    underline()

.timeline_block
  font-size 1.5625vw
  line-height 1.979166667vw
  margin 0 auto
  margin-left 22.916vw
  padding-bottom 7.65625vw
  padding-left 3.854166667vw
  width 61% 
  max-width 904px
  border-left 0.46875vw solid dark_active
  position relative
  &:last-child
    padding-bottom 2.604vw
    border-left-color transparent
  &:before
    content ""
    display block
    width 1.5625vw
    height 1.5625vw
    background-color white
    border 0.46875vw solid dark_active
    border-radius 1.78125vw
    position absolute
    box-sizing content-box
    top -0.104166667vw
    left -1.484375vw
  span
    &.date
    &.company
    &.position
      display block
    &.date
      font-size 1.979vw
      font-weight bold
      letter-spacing 0.05208vw
      position absolute
      left -17.0833vw
      top 0
      width 13.0208vw
      text-align right
    &.company
      font-size 1.979vw
      font-weight bold
      letter-spacing 0.104vw
    &.position
      font-size 1.4583vw
      font-style italic
      color gray
      margin 0.2604vw 0 0.5208vw
    &.no_site
      color gray
#skills
  margin-bottom 4.89583vw
.tabs
  margin 0 auto 5.208vw
  ul 
    display flex
    flex-wrap nowrap
    justify-content center  
    align-items center    
    li
      float left
      &:first-child a
        border-top-left-radius 2.604vw
        border-bottom-left-radius 2.604vw
      &:last-child a
        border-top-right-radius 2.604vw
        border-bottom-right-radius 2.604vw        
      &.is-active a
          color black
          cursor default
          background-color active
      a 
        color gray
        font-size 1.5625vw
        background-color select
        padding 0.7291vw 1.666vw
        transition background 0.2s ease-out
        cursor pointer
        user-select none
.skills
    width 77.1875vw
    margin 0 auto 1.82291vw
    .skills_block
        font-size 1.5625vw
        margin-bottom 1.5625vw
        .skills_title
            font-weight bold
            margin-bottom 1.5625vw
        .skills_inner
            .skills_row
                border-radius 5.208333333vw
                margin-bottom 0.677vw
                padding 0 0 0 1.666vw
                background-color bg
                overflow hidden
                .skills_row_name
                    width 12.76vw
                    font-weight normal
                    line-height 3.125vw
                    display inline-block
                    vertical-align middle
                .skills_row_value
                    width 62.76vw
                    height 3.125vw
                    display inline-block
                    vertical-align middle
                    position relative
                    &>div
                        height 100%
                        position relative
                        &.skills_row_value_up:after
                        &.skills_row_value_down:after
                            width 1.7708vw
                            height 1.979vw
                            display block
                            top calc(50% - 0.98958vw)
                            right -2.60416vw
                            position absolute
                        &.skills_row_value_100.skills_row_value_up:after
                        &.skills_row_value_100.skills_row_value_down:after
                            right 1.0416vw
                        &.skills_row_value_up:after
                            content ""
                            background url('./assets/icons/skills_up.svg') no-repeat left center
                        &.skills_row_value_down:after
                            content ""
                            background url('./assets/icons/skills_down.svg') no-repeat left center
                    .skills_row_value_10
                        background-color red
                        width 10%
                    .skills_row_value_25
                        background-color orange
                        width 25%
                    .skills_row_value_50
                        background-color yellow
                        width 50%
                    .skills_row_value_100
                        background-color green
                        width 100%
.skills_other
    overflow hidden
    .skills_other_block
      float left
      font-size 1.5625vw
      margin-right 10.4166vw
      .skills_other_title
        margin-top 2.34375vw
        font-weight bold
      .skills_other_list
        margin-top 1.302083vw
        font-weight normal

@import 'media.styl'