@import '../../../node_modules/jeet/stylus/jeet/index'
@import '../fonts/fregat/fregat'

reset();

@import 'animations.styl'
@import 'settings.styl'
@import 'greeting.styl'
@import 'history.styl'
@import 'experience.styl'
@import 'skills.styl'
@import 'books.styl'
@import 'contacts.styl'
@import 'media.styl'