@media screen and (min-width: 1920px)
    .button
        font-size 23px
        padding 16px 23px 10px 23px
        .icon_pdf
        .icon_zoom
            width 27px
            height 30px
            margin-left 9px  
    .img_wrapper
        height 360px
    .container
        padding 0 61px
        .block_wrapper
            margin-top 165px
    .substrate 
        padding 30px 0 100px
    .menu
        padding-top 30px
        .logo
            svg 
                width 163px
        nav
            margin-top 27px
            a 
                font-size 28px
                margin-right 71px
    .appeal
        margin-top 120px
        h1 
            font-size 76px
            line-height 120px
        h2 
            font-size 32px
            letter-spacing 13px
            margin-bottom 17px
        p 
            font-size 23px
            line-height 36px
            margin 15px 0 40px
    .illustration
        #illustration
            #background
                width 917px
            .computer_wrap
                top 213px
                left 237px
                width 468px
                height 400px
                .telnet_wrap
                    width 308px
                    height 183px
                    top 95px
                    left 43px
                    padding 15px         
                    .vue-typer
                        font-size 22px
                        line-height 26px                          
            .icon_ubuntu
                top 155px
                left 622px                
                width 66px
                height 66px
            .icon_github
                top 10px
                left 640px               
                width 66px
                height 66px
            .icon_laravel
                top 416px
                left 240px
                width 68px
                height 47px
            .icon_bitbucket
                top 392px
                left 716px
                width 55px
                height 60px  
            .icon_docker
                top 114px
                left 318px
                width 112px
                height 100px     
            .icon_git
                top 312px
                left 46px
                width 36px
                height 44px  
            .icon_vim
                top 268px
                left 168px
                width 51px
                height 53px   
            .icon_git2
                top 92px
                left 526px
                width 47px
                height 47px                                                                                   
        img 
            width 917px
    .slide
        .content_wrapper
            img
                &.avatar
                    border 13px solid select
                    border-top-width 8px
                    border-right-width 20px
                    border-bottom-width 20px
                    margin 0 auto 70px
            p 
                font-size 30px
                line-height 40px
                .icon_born
                    left -64px
                    top -16px
                &.pgti
                &.pnipu
                    margin-bottom 45px
                &.pgti:before
                &.pnipu:before
                    left -69px
    .siema_wrapper
        .arrow
            span
                top 100px
                font-size 19px
                line-height 32px
        .arrow_left
            left calc(100vw/2 - 860px)
        .arrow_right
            right calc(100vw/2 - 860px)
    .title
        font-size 36px
        margin-top 72px
        letter-spacing 2px
    .timeline_block
        font-size 24px
        line-height 30px
        margin-left 440px
        padding-bottom 70px
        padding-left 74px
        border-left 9px solid dark_active
        &:last-child
            padding-bottom 50px
        &:before
            width 30px
            height 30px
            border 9px solid dark_active
            top -2px
            left -28.5px
        span
            &.date
                font-size 32px
                font-weight bold
                position absolute
                left -318px
                top 7px
                width 250px
                text-align right
            &.company
                font-size 28px
                letter-spacing 2px
            &.position
                font-size 24px
                margin 5px 0 15px
    #skills
        padding-bottom 94px
    .tabs
        margin 0 auto 70px
        ul 
            li
                &:first-child a
                    border-top-left-radius 50px
                    border-bottom-left-radius 50px                    
                &:last-child a 
                    border-top-right-radius 50px
                    border-bottom-right-radius 50px                      
                a
                    font-size 24px
                    padding 14px 32px
    .skills
        width 946px
        margin-bottom 35px
        .skills_block
            font-size 24px
            margin-bottom 30px
            .skills_title
                margin-bottom 30px
            .skills_inner
                .skills_row
                    border-radius 100px
                    margin-bottom 13px
                    padding 0 0 0 32px
                    .skills_row_name
                        width 196px
                        line-height 60px
                    .skills_row_value
                        width 718px
                        height 60px
                        &>div
                            height 100%
                            &.skills_row_value_up:after
                            &.skills_row_value_down:after
                                width 34px
                                height 38px
                                top calc(50% - 19px)
                                right -50px
                            &.skills_row_value_100.skills_row_value_up:after
                            &.skills_row_value_100.skills_row_value_down:after
                                right 20px
    .skills_other
        width 946px
        margin 0 auto
        .skills_other_block
            margin-right 78px
            font-size 24px
            .skills_other_title
                margin-top 45px
                font-weight bold
            .skills_other_list
                margin-top 25px
                font-weight normal
    #books
        padding-bottom 147px
        .books_wrapper
            ul
                li
                    margin-right 22px
                    a
                        border 14px solid active
                        height 565px
                        &:after
                            width 100px
                            height 100px
                            border-radius 50px
                        img
                            width 387px
                            height 537px 
    #contacts
        .appeal_wrapper
            .message
                max-width 392px
                font-size 24px
                line-height 30px
                border-radius 100px
                padding 26px 32px 26px 40px
                margin 0 auto 80px
                &:before
                    width 100px
                    height 100px
                    right -127px
                    bottom -10px      
                &:after
                    width 35px
                    height 55px     
                    right -11px
        form 
            margin 0 auto 80px
            max-width 475px
            textarea
                height 300px
                font-size 24px
                line-height 30px
                margin-bottom 35px
                border-radius 20px
                padding 20px
            input.button 
                width 185px
                font-size 18px
        footer 
            padding 35px 0 30px
            ul.contacts
                li
                    margin-right 65px
                    a
                        &.moi_krug img
                            width 182px
                            height 44px
                        &.github img
                            width 128px
                            height 35px
                        &.linkedin img
                            width 169px
                            height 45px  
    .icon_ubuntu
        animation rotated 60s infinite linear

    .icon_git2
    .icon_git
    .icon_github
        animation animationFramesTwo 15s infinite linear

    .icon_vim
    .icon_bitbucket
    .icon_docker
        animation animationFramesTwo 20s infinite linear

    .icon_laravel
        animation animationFramesOne 40s infinite linear  

    @keyframes animationFramesOne {
        0% { transform: translate(0px,0px) rotate(0)}
        20% { transform: translate(-83px,-30px) rotate(10deg) }
        50% { transform: translate(-133px,50px) rotate(0)}
        70% { transform: translate(-63px,60px)rotate(-30deg) }
        100% { transform: translate(0px,0px) rotate(0) }  
    }

    @keyframes animationFramesTwo {
        0% { transform: translate(0px,0px) rotate(0)}
        30% { transform: translate(20px,-5px) rotate(10deg)}
        70% { transform: translate(10px,15px) rotate(5deg)}
        100% { transform: translate(0px,0px) rotate(0) }  
    }                                    
                            