context = 19.2
get-vw(target) 
  (target / context)vw
//#############################################
// Greeting
//#############################################
#greeting  
  #page-wrap
    overflow hidden
    min-width 320px
  .menu
    width 100vw
    min-width 320px
    background-color bg
    display flex
    flex-wrap nowrap
    justify-content center
    position absolute
    padding-top get-vw(30px)
    top 0
    left 0
    z-index 10  
    .logo
      width 37%
      max-width 548px
      svg 
        width get-vw(163px)
        position relative

    nav
      margin-top get-vw(27px)
      a
        float left
        color dark
        font-size get-vw(29px)
        text-decoration none
        margin-right get-vw(71px)
        position relative
        &:last-child
          margin-right 0
  .appeal
    margin-top get-vw(121px)
    width 37%
    max-width 548px
    h1 
      font-size get-vw(77px)
      font-weight bold
      line-height get-vw(121px)
      color black
      font-size-adjust 0.48
    h2
      font-size get-vw(32px)
      font-weight 400
      letter-spacing get-vw(13px)
      color dark
      text-transform uppercase
      margin-bottom get-vw(17px)

    .underline
      background-color blue
      width get-vw(150px)
      max-width 150px
      height get-vw(8px)
      max-height 8px
      border-radius 20px
    
    p
      color gray
      font-size get-vw(23px)
      line-height get-vw(36px)
      width 80%
      max-width 438px
      margin get-vw(15px) 0 get-vw(40px)
    .button
      float left
  .illustration
    #illustration
      position relative
      #background
        width get-vw(918px)
      .computer_wrap
        position absolute
        top get-vw(213px)
        left get-vw(237px)
        width get-vw(468px)
        .telnet_wrap
          position absolute
          width get-vw(308px)
          height get-vw(183px)
          top get-vw(95px)
          left get-vw(43px)
          padding get-vw(15px)
          overflow hidden
          .vue-typer
            font-family 'Fregat', monospace
            font-size get-vw(22px)
            line-height get-vw(26px)
            user-select none
            .custom.char.typed
              color black
      .icon_ubuntu  
        position absolute
        top get-vw(155px)
        left get-vw(622px)
        width get-vw(66px)
      .icon_github
        position absolute
        width get-vw(66px)
        top get-vw(10px)
        left get-vw(640px)
      .icon_laravel
        position absolute
        top get-vw(416px)
        left get-vw(240px)
        width get-vw(68px)
        height get-vw(47px)
      .icon_bitbucket
        position absolute
        top get-vw(392px)
        left get-vw(716px)
        width get-vw(55px)
        height get-vw(60px)
      .icon_docker
        position absolute
        top get-vw(114px)
        left get-vw(318px)
        width get-vw(112px)
        height get-vw(100px)
      .icon_git
        position absolute
        top get-vw(312px)
        left get-vw(46px)
        width get-vw(36px)
        height get-vw(44px)   
      .icon_vim
        position absolute
        top get-vw(268px)
        left get-vw(168px)
        width get-vw(51px)
        height get-vw(53px)  
      .icon_git2
        position absolute
        top get-vw(92px)
        left get-vw(526px)
        width get-vw(47px)
        height get-vw(47px)
    img 
      width get-vw(918px)
//#############################################
// History
//#############################################      
#history  
  .slide
    max-height 975px
    height get-vw(975px)
    display flex
    justify-content center
    align-items center
    .content_wrapper
      max-width: 610px
      width get-vw(610px)
      img
        display block
        &.pgti_img
          max-width 171px
          width get-vw(171px)
        &.pnipu_img
          max-width 210px
          width get-vw(210px)
        &.avatar
          max-width 281px
          width get-vw(314px)
          max-height 281px
          height get-vw(314px)
          border-radius 200px
          border get-vw(13px) solid select
          border-top-width get-vw(8px)
          border-right-width get-vw(20px)
          border-bottom-width get-vw(20px)
          margin 0 auto get-vw(70px)
          user-select none
      p
        font-size get-vw(30px)
        line-height get-vw(40px)
        position relative
        .icon_born
          max-width 32px
          width get-vw(32px)
          max-height 58px
          height get-vw(58px)
          display block
          position absolute
          left get-vw(-64px)
          top get-vw(-16px)
        &#born:after
          underline()
        &.pgti
        &.pnipu
          margin-bottom get-vw(45px)
        &.pgti:before
        &.pnipu:before
          content ""
          background url('./assets/icons/study.svg') no-repeat center center
          max-width 51px
          width get-vw(51px)
          max-height 32px
          height get-vw(32px)
          display block
          position absolute
          left get-vw(-69px)
.siema_wrapper
  position relative
  .button_wrapper
    text-align center
    .button
      display inline-block
  .arrow
    max-width 88px
    max-height 88px
    width get-vw(88px)
    height get-vw(88px)
    display block
    position absolute
    top 50%
    cursor pointer
    border-radius 50px
    span
      color gray
      font-size get-vw(19px)
      line-height get-vw(32px)
      position absolute
      top get-vw(100px)
  .arrow_left
    left get-vw(130px)
    background bg url('./assets/icons/arrow_left.svg') no-repeat center
  .arrow_right
    right get-vw(130px)
    background bg url('./assets/icons/arrow_right.svg') no-repeat center
  .arrow_left
  .arrow_right
    background-size 73%
    transition background 0.2s ease-out
    &:hover
      background-color select
//#############################################
// Experience
//#############################################               
#experience
  .timeline_block
    font-size get-vw(24px)
    line-height get-vw(30px)
    margin 0 auto
    margin-left get-vw(440px)
    padding-bottom get-vw(70px)
    padding-left get-vw(74px)
    width 61% 
    max-width 904px
    border-left get-vw(9px) solid dark_active
    position relative
    &:last-child
      padding-bottom get-vw(50px)
      border-left-color transparent
    &:before
      content ""
      display block
      width get-vw(30px)
      height get-vw(30px)
      background-color white
      border get-vw(9px) solid dark_active
      border-radius get-vw(34px)
      position absolute
      box-sizing content-box
      top get-vw(-2px)
      left get-vw(-28px)
    span
      &.date
      &.company
      &.position
        display block
      &.date
        font-size get-vw(32px)
        font-weight bold
        letter-spacing get-vw(1px)
        position absolute
        left get-vw(-318px)
        top get-vw(7px)
        width get-vw(250px)
        text-align right
      &.company
        font-size get-vw(28px)
        font-weight bold
        letter-spacing get-vw(2px)
      &.position
        font-size get-vw(24px)
        font-style italic
        color gray
        margin get-vw(5px) 0 get-vw(10px)
      &.no_site
        color gray 
//#############################################
// Skills
//#############################################            
#skills
  padding-bottom get-vw(94px)
.tabs
  margin 0 auto get-vw(70px)
  ul 
    display flex
    flex-wrap nowrap
    justify-content center  
    align-items center    
    li
      float left
      &:first-child a
        border-top-left-radius get-vw(50px)
        border-bottom-left-radius get-vw(50px)
      &:last-child a
        border-top-right-radius get-vw(50px)
        border-bottom-right-radius get-vw(50px)
      &.is-active a
        color black
        cursor default
        background-color active
      a 
        color gray
        font-size get-vw(24px)
        background-color select
        padding get-vw(14px) get-vw(32px)
        transition background 0.2s ease-out
        cursor pointer
        user-select none
.skills
    width get-vw(946px)
    margin 0 auto get-vw(35px)
    .skills_block
      font-size get-vw(24px)
      margin-bottom get-vw(30px)
      .skills_title
        font-weight bold
        margin-bottom get-vw(30px)
      .skills_inner
        .skills_row
          border-radius get-vw(100px)
          margin-bottom get-vw(13px)
          padding 0 0 0 get-vw(32px)
          background-color bg
          overflow hidden
          cursor help
          &:hover
          &:active
            .skills_row_value>div
              filter brightness(108%)
          .skills_row_name
            width get-vw(196px)
            font-weight normal
            line-height get-vw(60px)
            display inline-block
            vertical-align middle
          .skills_row_value
            width get-vw(718px)
            height get-vw(60px)
            display inline-block
            vertical-align middle
            position relative
            &>div
              height 100%
              position relative
              transition all 0.3s linear
              &.skills_row_value_up:after
              &.skills_row_value_down:after
                width get-vw(34px)
                height get-vw(38px)
                display block
                top calc(50% - 0.98958vw)
                right get-vw(-50px)
                position absolute
              &.skills_row_value_100.skills_row_value_up:after
              &.skills_row_value_100.skills_row_value_down:after
                right get-vw(20px)
              &.skills_row_value_up:after
                content ""
                background url('./assets/icons/skills_up.svg') no-repeat left center
              &.skills_row_value_down:after
                content ""
                background url('./assets/icons/skills_down.svg') no-repeat left center
            .skills_row_value_10
              background-color red
              width 10%
            .skills_row_value_25
              background-color orange
              width 25%
            .skills_row_value_50
              background-color yellow
              width 50%
            .skills_row_value_100
              background-color green
              width 100%
.skills_other
    width get-vw(946px)
    margin 0 auto  
    overflow hidden
    .skills_other_block
      float left
      font-size get-vw(24px)
      margin-right get-vw(78px)
      .skills_other_title
        margin-top get-vw(45px)
        font-weight bold
      .skills_other_list
        margin-top get-vw(25px)
        font-weight normal  
//#############################################
// Books
//#############################################          
#books
  padding-bottom get-vw(147px)
  .books_wrapper
    max-width 1298px
    max-height 625px
    width get-vw(1298px)
    height get-vw(625px)
    margin 0 auto
    padding-bottom get-vw(25px)
    ul 
      overflow-x: auto
      overflow-y: hidden
      max-width 2604px
      width get-vw(2604px)
      li
        float left
        margin-right get-vw(22px)
        &:last-child
          margin-right 0!important
        a
          border get-vw(14px) solid active
          display inline-block
          height get-vw(565px)
          transition border-color 0.3s ease-out
          user-select none
          position relative
          display flex
          flex-wrap nowrap
          justify-content center  
          align-items center          
          &:after
            content ""
            display block
            background url(./assets/icons/paper-plane.svg) no-repeat 15px center
            background-color rgba(40%, 35%, 63%, 0.95)
            background-size 60%
            width get-vw(100px)
            height get-vw(100px)
            position absolute
            border-radius: get-vw(50px)
            transition all .3s ease-out
            opacity 0
          &:hover
            border-color #adadf7
            &:after
              opacity 1
            img
              -webkit-filter brightness(110%)
              filter brightness(110%)
          img
            width get-vw(387px)
            height get-vw(537px)
            -webkit-filter brightness(95%)
            filter brightness(95%)          
            -webkit-transition all .3s ease
            -moz-transition all .3s ease
            -o-transition all .3s ease
            transition all .3s ease
            user-select none
    .scrollbar-thumb
      position relative
      &:after
        content ""
        display block
        width 5px
        height 1px
        position absolute
        left 50% 
        top 0px
        background-color transparent
        border 0 solid #6558a0
        border-radius 15px
        transition all .2s ease-in
  @media screen and (min-width: 768px)
    .books_wrapper:hover
      .scrollbar-thumb
        &:after
          width 30px
          height 30px
          left calc(50% - 15px)
          top -11px
          border 7px solid #6558a0
          background-color white!important
//#############################################
// Contacts
//#############################################            
#contacts
  .appeal_wrapper
    overflow: hidden
    width: get-vw(735px)
    margin: 0 auto get-vw(50px)
    padding: 0 get-vw(50px)
    box-sizing: content-box  
    .message
      max-width get-vw(392px)
      color white
      font-size get-vw(24px)
      line-height get-vw(30px)
      background-color message_bg
      position relative
      border-radius get-vw(100px)
      padding get-vw(26px) get-vw(32px) get-vw(26px) get-vw(40px)
      box-sizing content-box
      margin 0 auto 30px
      user-select none
      .extended_logo
        display block
        width get-vw(100px)
        height get-vw(100px)
        position absolute
        right get-vw(-127px)
        bottom get-vw(-10px)      
      &:after
        content ""
        display block
        background url(./assets/icons/message_tail.svg) no-repeat bottom right
        position absolute
        width get-vw(35px)
        height get-vw(55px)
        right get-vw(-11px)
        bottom 0
    .message_response
      max-width get-vw(373px)
      color black
      font-size get-vw(24px)
      line-height get-vw(30px)
      background-color message_response_bg
      position relative
      border-radius get-vw(100px)
      padding get-vw(26px) get-vw(32px)
      box-sizing content-box
      margin 0 auto get-vw(20px)
      float left
      clear left
      left get-vw(120px)
      user-select none
      animation animationEnter 1s ease-out 1
      @keyframes animationEnter {
        0% { transform: scale(0) }
        50% { transform: scale(1.1) }
        100% { transform: scale(1) }  
      }
      &:before
        content ""
        display block
        background url(./assets/icons/message_response_tail.svg) no-repeat bottom right
        position absolute
        width get-vw(35px)
        height get-vw(55px)    
        left get-vw(-11px)
        bottom 0 
      &:after
        content ''
        display block
        background url(./assets/icons/unknown_user.svg) no-repeat bottom right
        position absolute
        border-radius: get-vw(50px)
        width get-vw(100px)
        height get-vw(100px)
        left get-vw(-120px)
        bottom get-vw(-10px)
  form 
    margin 0 auto get-vw(80px)
    max-width get-vw(475px)
    position relative
    .typing_wrap
      margin-left get-vw(20px)
      margin-bottom get-vw(5px)
      display block
      width 100%
      position absolute
      bottom 100%    
      .typing
        font-size 16px
        color gray   
    textarea
      width 100%
      height get-vw(300px)
      font-size get-vw(24px)
      line-height get-vw(30px)
      background-color bg
      resize none
      margin-bottom get-vw(35px)
      outline none
      border none
      border-radius get-vw(20px)
      padding get-vw(20px)
    input.button 
      width  get-vw(185px)
      margin 0 auto
      font-size  get-vw(18px)
      font-weight bold
      outline none 
      cursor pointer
      color white
      border none
      background #d81392
      background -moz-linear-gradient(left, #ff01d1 0%, #ff01a5 28%, #ff9b33 100%)
      background -webkit-linear-gradient(left, #ff01d1 0%,#ff01a5 28%, #ff9b33 100%)
      background linear-gradient(to right, #ff01d1 0%, #ff01a5 28%, #ff9b33 100%)
      -webkit-transition all .3s ease
      -moz-transition all .3s ease
      -o-transition all .3s ease
      transition all .3s ease
      user-select none      
      &:hover
        opacity 0.7
  footer 
    width 100%
    background-color bg
    padding get-vw(35px) 0 get-vw(30px)
    ul.contacts
      display flex
      flex-wrap nowrap
      justify-content center
      align-items center     
      li
        margin-right get-vw(65px)
        &:last-child
          margin-right 0
        a
          display block
          &.moi_krug img
            width get-vw(182px)
            height get-vw(44px)
          &.github img
            width get-vw(128px)
            height get-vw(35px)
          &.linkedin img
            width get-vw(169px)
            height get-vw(42px)
          img
            transition all .3s ease-out
          img:hover
            filter brightness(120%)
            user-select none                          