@media screen and (max-width : 768px)
  #greeting
    padding 0
  .container
    padding 0
    .block_wrapper
      margin 0
      flex-wrap wrap-reverse  
  .button
    font-size 4.266vw
    line-height 4.266vw
    padding 4.266vw 6.4vw 2.933vw 
    .icon_pdf
    .icon_zoom
      width 4.533vw
      height 5.066vw
      margin-left 2.4vw
  .menu 
    background none
    padding 3.2vw 4vw 0
    justify-content space-between
    .logo
      width auto
      svg
        width 18.666vw
        .ivanopol_logo
          .a
            fill #c1c1f9
    nav
      display none
  .appeal
    width 100%
    padding 5.333vw 10.666vw
    margin 0
    max-width none
    h1
      font-size 8vw
      line-height 8vw
      margin-bottom 2.1333vw
    h2 
      font-size 3.2vw
      margin-bottom 0
    p
      font-size 3.7333vw
      line-height 5.333vw
      width 100%
      max-width none
      margin 0 0 4.8vw
    .underline
      background-color blue
      width 24vw
      max-width 24vw
      height 1.0666vw
      max-height 1.0666vw
      border-radius 5.333vw
      margin 2.666vw 0   
    .button_wrapper
      text-align center
      .button
        float none
        display inline-block
  .illustration
    width 100%
    background-color select
    #illustration
      .computer_wrap
        width 77.333vw
        position relative
        margin 29.333vw auto 0
        left inherit
        top inherit
        .telnet_wrap
          width 50.666vw
          height 29.8666vw
          top 16vw
          left 7.2vw
          padding 1.8666vw
          .vue-typer
            font-size 4.8vw
            line-height: 4.8vw
      .icon_docker
        top -14.9333vw
        left 22.9333vw
        width 18.1333vw
        height 16.5333vw
      .icon_vim 
        top 18.9333vw
        left 2.666vw
        width 8.5333vw
        height 8.5333vw 
      .icon_ubuntu
        top -6.4vw
        left 69.333vw
        width 11.7333vw
        height 11.2vw 
      .icon_bitbucket
        top 32.2666vw
        left 84.5333vw
        width 9.333vw
        height 9.333vw 
      .icon_github
        top -22.666vw
        left 58.666vw
        width 10.666vw
        height 10.666vw 
      .icon_laravel
      .icon_git
      .icon_git2
      #background
        display none

  #history
  #experience
  #skills
  #books
  #contacts
    display none
  