@media screen and (max-width : 320px)
  #greeting
    padding 0
  .container
    padding 0
    .block_wrapper
      margin 0
      flex-wrap wrap-reverse  
  .button
    font-size 14px
    line-height 14px
    padding 11px 13px 6px 
    .icon_pdf
    .icon_zoom
      width 17px
      height 19px
      margin-left 9px
  .menu 
    background none
    padding 12px 15px 0
    justify-content space-between
    .logo
      width auto
      svg
        width 76px
        .ivanopol_logo
          .a
            fill #c1c1f9
    nav
      display none
  .appeal
    width 100%
    padding 30px 40px
    margin 0
    max-width none
    h1
      font-size 28px
      line-height 28px
      margin-bottom 8px
    h2 
      font-size 12px
      margin-bottom 0
    p
      font-size 14px
      line-height 20px
      width 100%
      max-width none
      margin 0 0 18px
    .underline
      background-color blue
      width 90px
      max-width 90px
      height 4px
      max-height 4px
      border-radius 20px
      margin 9px 0   
    .button_wrapper
      text-align center
      .button
        float none
        display inline-block
  .illustration
    width 100%
    background-color select
    #illustration
      .computer_wrap
        width 290px
        position relative
        margin 135px auto 0
        left inherit
        top inherit
        .telnet_wrap
          width 190px
          height 112px
          top 60px
          left 27px
          padding 7px
          .vue-typer
            font-size 18px
            line-height: 18px
      .icon_docker
        top -62px
        left 86px
        width 68px
        height 62px
      .icon_vim 
        top 71px
        left 27px
        width 32px
        height 32px 
      .icon_ubuntu
        top -24px
        left 260px
        width 44px
        height 42px 
      .icon_bitbucket
        top 121px
        left 317px
        width 35px
        height 35px 
      .icon_github
        top -85px
        left 281px
        width 40px
        height 40px 
      .icon_laravel
      .icon_git
      .icon_git2
      #background
        display none

  #history
  #experience
  #skills
  #books
  #contacts
    display none
  