@media screen and (max-width : 768px)
  context = 3.75
  get-vw(target) 
    (target / context)vw 
  .smooth-scrollbar
    .scrollbar-track
      height get-vw(6px)
      .scrollbar-thumb
        height get-vw(6px)
  underline()
    content ""
    display block
    background-color blue
    width get-vw(60px)
    max-width 90px
    height get-vw(4px)
    max-height 6px
    border-radius 20px
    margin get-vw(10px) auto 0  
  .title
    font-size get-vw(16px)
    font-weight bold
    text-align center
    letter-spacing get-vw(1px)
    margin-top get-vw(43px)
    margin-bottom get-vw(50px)
    &:after
      underline()       
  #greeting
    padding 0 0 6.666vw 0
  .container
    padding 0
    .block_wrapper
      margin 0
      flex-wrap wrap-reverse  
  .button
    font-size 4.266vw
    line-height 4.266vw
    padding 4.266vw 6.4vw 2.933vw 
    .icon_pdf
    .icon_zoom
      width 4.533vw
      height 5.066vw
      margin-left 2.4vw
  .menu 
    background none
    padding 3.2vw 4vw 0
    justify-content space-between
    .logo
      width auto
      svg
        width 18.666vw
        .ivanopol_logo
          .a
            fill #c1c1f9
    nav
      display none
  .appeal
    width 100%
    padding 5.333vw 10.666vw
    margin 0
    max-width none
    h1
      font-size 8vw
      line-height 8vw
      margin-bottom 2.1333vw
    h2 
      font-size 3.2vw
      margin-bottom 0
    p
      font-size 3.7333vw
      line-height 5.333vw
      width 100%
      max-width none
      margin 0 0 4.8vw
    .underline
      background-color blue
      width 24vw
      max-width 24vw
      height 1.0666vw
      max-height 1.0666vw
      border-radius 5.333vw
      margin 2.666vw 0   
    .button_wrapper
      text-align center
      .button
        float none
        display inline-block
  .illustration
    width 100%
    background-color select
    #illustration
      .computer_wrap
        width 77.333vw
        position relative
        margin 29.333vw auto 0
        left inherit
        top inherit
        .telnet_wrap
          width 50.666vw
          height 29.8666vw
          top 16vw
          left 7.2vw
          padding 1.8666vw
          .vue-typer
            font-size 4.8vw
            line-height: 4.8vw
      .icon_docker
        top -14.9333vw
        left 22.9333vw
        width 18.1333vw
        height 16.5333vw
      .icon_vim 
        top 18.9333vw
        left 2.666vw
        width 8.5333vw
        height 8.5333vw 
      .icon_ubuntu
        top -6.4vw
        left 69.333vw
        width 11.7333vw
        height 11.2vw 
      .icon_bitbucket
        top 32.2666vw
        left 84.5333vw
        width 9.333vw
        height 9.333vw 
      .icon_github
        top -22.666vw
        left 58.666vw
        width 10.666vw
        height 10.666vw 
      .icon_laravel
      .icon_git
      .icon_git2
      #background
        display none
  #history
    .slide
      height 178.1333vw
      .content_wrapper
        width 70.666vw
        .img_wrapper
          height 61.333vw
        img 
          &.pgti_img
            max-width 27.2vw
            width 27.2vw
          &.pnipu_img
            max-width 56vw
            width 34.666vw        
          &.avatar
            width 48vw
            height 48vw
            border 1.8666vw solid select
            border-top-width 1.6vw
            border-right-width 2.9333vw
            border-bottom-width 2.9333vw
            margin 0 auto 12vw
        p
          font-size 3.7333vw
          line-height 4.8vw
          .icon_born
            width 4.2666vw
            height 10.1333vw
            left -6.666vw
            top -2.666vw
          &#born:after
            underline() 
          &.pgti
          &.pnipu
            margin-bottom 13vw            
          &.pgti:before
          &.pnipu:before  
            width 8.5333vw       
            height 4.8vw
            left -10.1333vw
  .siema_wrapper
    .button_wrapper
      display none
    .arrow
      width 14.666vw
      height 14.666vw
      top 78%
      span
        font-size 3.2vw
        line-height: 3.7333vw
        top 17.333vw
    .arrow_left
      left 25.8666vw
    .arrow_right
      right 25.8666vw
  #experience
    .timeline_block
      font-size get-vw(12px)
      line-height get-vw(16px)
      margin-left get-vw(30px)
      width 85%
      border-left-width get-vw(4px)
      border-left-style solid
      border-left-color dark_active
      &:last-child
        padding-bottom get-vw(50px)
        border-left-color transparent      
      &:before
        width get-vw(7px)
        height get-vw(7px)
        border-width get-vw(4px)
        border-style solid
        border-color dark_active
        border-radius get-vw(10px)
        left get-vw(-9px)
        top get-vw(-1px)
      span
        &.date
          font-size get-vw(14px)
          letter-spacing 1px
          position relative
          left 0
          top 0
          width: 100%
          text-align left
          margin-bottom get-vw(8px)
        &.company
          font-size get-vw(14px)
          letter-spacing 1px
          margin 0
        &.position
          font-size get-vw(12px)
          margin get-vw(2px) 0 get-vw(8px)
  #skills
    padding-bottom get-vw(60px)
  .tabs
    margin 0 auto get-vw(43px)
    ul 
      display flex
      flex-wrap nowrap
      justify-content center  
      align-items center    
      li
        float left
        &:first-child a
          border-top-left-radius get-vw(20px)
          border-bottom-left-radius get-vw(20px)
        &:last-child a
          border-top-right-radius get-vw(20px)
          border-bottom-right-radius get-vw(20px)        
        &.is-active a
          color black
          cursor default
          background-color active
        a 
          color gray
          font-size get-vw(14px)
          font-weight: bold
          background-color select
          padding get-vw(14px) get-vw(17px) get-vw(12px)
          transition background 0.2s ease-out
          cursor pointer
          user-select none              
  .skills
    width 85%
    margin 0 auto get-vw(20px)
    .skills_block
      font-size get-vw(12px)
      margin-bottom get-vw(14px)
      .skills_title
        font-weight bold
        margin-bottom get-vw(9px)
      .skills_inner
        .skills_row
          border-radius get-vw(20px)
          margin-bottom get-vw(9px)
          padding 0 0 0 get-vw(9px)
          background-color bg
          overflow hidden
          .skills_row_name
            width 25%
            font-weight normal
            line-height get-vw(28px)
            display inline-block
            vertical-align middle
            overflow hidden
            white-space nowrap
          .skills_row_value
            width 75%
            height get-vw(28px)
            display inline-block
            vertical-align middle
            position relative
            &>div
              height 100%
              position relative
              &.skills_row_value_up:after
              &.skills_row_value_down:after
                width get-vw(14px)
                height get-vw(16px)
                display block
                top calc(25%)
                right get-vw(-20px)
                position absolute
              &.skills_row_value_100.skills_row_value_up:after
              &.skills_row_value_100.skills_row_value_down:after
                right get-vw(10px)
  .skills_other
    width 85%
    margin 0 auto  
    overflow hidden
    .skills_other_block
      float left
      font-size get-vw(12px)
      margin-right 0
      .skills_other_title
        margin-top get-vw(18px)
        font-weight bold
      .skills_other_list
        margin-top get-vw(8px)
        font-weight normal
  #books
    padding-bottom get-vw(60px)
    .books_wrapper
      width get-vw(273px)
      height get-vw(200px)
      margin 0 auto
      ul 
        overflow-x: auto
        overflow-y: hidden
        width get-vw(864px)
        li
          float left
          margin-right get-vw(12px)
          &:last-child
            margin-right 0!important
          a
            border get-vw(5px) solid active
            display inline-block
            height get-vw(179px)
            transition border-color 0.3s ease-out
            user-select none
            position relative
            display flex
            flex-wrap nowrap
            justify-content center  
            align-items center          
            &:after
              content ""
              display block
              background url(./assets/icons/paper-plane.svg) no-repeat center center
              background-color rgba(40%, 35%, 63%, 0.95)
              background-size 40%
              width get-vw(40px)
              height get-vw(40px)
              position absolute
              border-radius: 20px
              transition all .3s ease-out
              opacity 0
            &:hover
              border-color #adadf7
              &:after
                opacity 1
              img
                -webkit-filter brightness(110%)
                filter brightness(110%)
            img
              width get-vw(122px)
              height get-vw(168px)
              -webkit-filter brightness(95%)
              filter brightness(95%)          
              -webkit-transition all .3s ease
              -moz-transition all .3s ease
              -o-transition all .3s ease
              transition all .3s ease
              user-select none
  #contacts
    .appeal_wrapper
      .message
        max-width none
        width get-vw(236px)
        color white
        font-size get-vw(14px)
        line-height get-vw(16px)
        background-color message_bg
        position relative
        border-radius get-vw(50px)
        padding get-vw(13px) get-vw(4px) get-vw(13px) get-vw(18px)
        box-sizing content-box
        margin 0 auto get-vw(45px)
        user-select none
        left  get-vw(-20px)
        .extended_logo
          display block
          width get-vw(50px)
          height get-vw(50px)
          position absolute
          right get-vw(-55px)
          bottom get-vw(-2px)
        &:after
          content ""
          display block
          background url(./assets/icons/message_tail.svg) no-repeat bottom right
          position absolute
          width get-vw(16px)
          height get-vw(53px)
          right get-vw(-3px)
          bottom get-vw(3px)
    form 
      margin 0 auto get-vw(40px)
      max-width none
      width get-vw(290px)
      textarea
        width 100%
        height get-vw(175px)
        font-size get-vw(16px)
        line-height get-vw(18px)
        background-color bg
        resize none
        margin-bottom get-vw(20px)
        outline none
        border none
        border-radius get-vw(13px)
        padding get-vw(15px)
      input.button 
        width get-vw(148px)
        margin 0 auto
        font-size get-vw(16px)
        font-weight bold
        outline none 
        cursor pointer
        color white
        border none
        background #d81392
        background -moz-linear-gradient(left, #ff01d1 0%, #ff01a5 28%, #ff9b33 100%)
        background -webkit-linear-gradient(left, #ff01d1 0%,#ff01a5 28%, #ff9b33 100%)
        background linear-gradient(to right, #ff01d1 0%, #ff01a5 28%, #ff9b33 100%)
        -webkit-transition all .3s ease
        -moz-transition all .3s ease
        -o-transition all .3s ease
        transition all .3s ease
        user-select none      
        &:hover
          opacity 0.7
    footer 
      width 100%
      background-color bg
      padding get-vw(20px) 0 get-vw(18px)
      ul.contacts
        display flex
        flex-wrap nowrap
        justify-content center
        align-items center     
        li
          margin-right get-vw(35px)
          &:last-child
            margin-right 0
          a
            display block
            &.moi_krug img
              width get-vw(82px)
              height get-vw(42px)
            &.github img
              width get-vw(65px)
              height get-vw(18px)
            &.linkedin img
              width get-vw(85px)
              height get-vw(23px)
            img
              transition all .3s ease-out
            img:hover
              filter brightness(120%)
              user-select none
