context = 19.2
get-vw(target) 
  (target / context)vw
@media screen and (min-width : 769px) and (max-width: 1920px)
  //#############################################
  // Greeting
  //#############################################
  #page-wrap
    min-width 320px
  .menu
    padding-top get-vw(30px)
    .logo
      svg 
        width get-vw(163px)
    nav
      margin-top get-vw(27px)
      a
        font-size get-vw(29px)
        margin-right get-vw(71px)
  .appeal
    margin-top get-vw(121px)
    h1 
      font-size get-vw(77px)
      line-height get-vw(121px)
    h2
      font-size get-vw(32px)
      letter-spacing get-vw(13px)
      margin-bottom get-vw(17px)
    .underline
      width get-vw(150px)
      height get-vw(8px)   
    p
      font-size get-vw(23px)
      line-height get-vw(32px)
      margin get-vw(25px) 0 get-vw(40px)
  .illustration
    #illustration
      #background
        width get-vw(918px)
      .computer_wrap
        top get-vw(213px)
        left get-vw(237px)
        width get-vw(468px)
        .telnet_wrap
          width get-vw(308px)
          height get-vw(183px)
          top get-vw(95px)
          left get-vw(43px)
          padding get-vw(15px)
          .vue-typer
            font-size get-vw(22px)
            line-height get-vw(26px)
      .icon_ubuntu  
        top get-vw(155px)
        left get-vw(622px)
        width get-vw(66px)
      .icon_github
        width get-vw(66px)
        top get-vw(10px)
        left get-vw(640px)
      .icon_laravel
        top get-vw(416px)
        left get-vw(240px)
        width get-vw(68px)
        height get-vw(47px)
      .icon_bitbucket
        top get-vw(392px)
        left get-vw(716px)
        width get-vw(55px)
        height get-vw(60px)
      .icon_docker
        top get-vw(114px)
        left get-vw(318px)
        width get-vw(112px)
        height get-vw(100px)
      .icon_git
        top get-vw(312px)
        left get-vw(46px)
        width get-vw(36px)
        height get-vw(44px)   
      .icon_vim
        top get-vw(268px)
        left get-vw(168px)
        width get-vw(51px)
        height get-vw(53px)  
      .icon_git2
        top get-vw(92px)
        left get-vw(526px)
        width get-vw(47px)
        height get-vw(47px)
    img 
      width get-vw(918px)
  //#############################################
  // History
  //#############################################      
  .slide
    height get-vw(975px)
    .content_wrapper
      width get-vw(610px)
      img
        &.pgti_img
          width get-vw(171px)
        &.pnipu_img
          width get-vw(210px)
        &.avatar
          width get-vw(314px)
          height get-vw(314px)
          border get-vw(13px) solid select
          border-top-width get-vw(8px)
          border-right-width get-vw(20px)
          border-bottom-width get-vw(20px)
          margin 0 auto get-vw(70px)
      p
        font-size get-vw(30px)
        line-height get-vw(40px)
        .icon_born
          max-width 32px
          width get-vw(32px)
          max-height 58px
          height get-vw(58px)
          left get-vw(-64px)
          top get-vw(-16px)
        &#born:after
          underline()
        &.pgti
        &.pnipu
          margin-bottom get-vw(45px)
        &.pgti:before
        &.pnipu:before
          width get-vw(51px)
          height get-vw(32px)
          left get-vw(-69px)
  .siema_wrapper
    .arrow
      width get-vw(88px)
      height get-vw(88px)
      span
        font-size get-vw(19px)
        line-height get-vw(32px)
        top get-vw(100px)
    .arrow_left
      left get-vw(130px)
    .arrow_right
      right get-vw(130px)
  //#############################################
  // Experience
  //#############################################               
  #experience
    .timeline_block
      font-size get-vw(24px)
      line-height get-vw(30px)
      margin-left get-vw(440px)
      padding-bottom get-vw(70px)
      padding-left get-vw(74px)
      border-left get-vw(9px) solid dark_active
      ul 
        margin-bottom 10px
        li
          margin-left get-vw(10px)
          &:before
            width: get-vw(15px)
            height: get-vw(3px)
            left: get-vw(-8px)      
      &:last-child
        padding-bottom get-vw(50px)
      &:before
        width get-vw(30px)
        height get-vw(30px)
        border get-vw(9px) solid dark_active
        border-radius get-vw(34px)
        top get-vw(-2px)
        left get-vw(-28px)
      span
        &.date
          font-size get-vw(32px)
          letter-spacing get-vw(1px)
          left get-vw(-318px)
          top get-vw(7px)
          width get-vw(250px)
        &.company
          font-size get-vw(28px)
          letter-spacing get-vw(2px)
        &.position
          font-size get-vw(24px)
          margin get-vw(5px) 0 get-vw(10px)
  //#############################################
  // Skills
  //#############################################            
  #skills
    padding-bottom get-vw(94px)
  .tabs
    margin 0 auto get-vw(70px)
    ul   
      li
        &:first-child a
          border-top-left-radius get-vw(50px)
          border-bottom-left-radius get-vw(50px)
        &:last-child a
          border-top-right-radius get-vw(50px)
          border-bottom-right-radius get-vw(50px)
        a 
          font-size get-vw(24px)
          padding get-vw(14px) get-vw(32px)
  .skills
      width get-vw(946px)
      margin 0 auto get-vw(35px)
      .skills_block
        font-size get-vw(24px)
        margin-bottom get-vw(30px)
        .skills_title
          margin-bottom get-vw(30px)
        .skills_inner
          .skills_row
            border-radius get-vw(100px)
            margin-bottom get-vw(13px)
            padding 0 0 0 get-vw(32px)
            .skills_row_name
              width get-vw(196px)
              line-height get-vw(60px)
            .skills_row_value
              width get-vw(718px)
              height get-vw(60px)
              &>div
                &.skills_row_value_up:after
                &.skills_row_value_down:after
                  width get-vw(34px)
                  height get-vw(38px)
                  top calc(50% - 0.98958vw)
                  right get-vw(-50px)
                &.skills_row_value_100.skills_row_value_up:after
                &.skills_row_value_100.skills_row_value_down:after
                  right get-vw(20px)
  .skills_other
      width get-vw(946px)
      .skills_other_block
        font-size get-vw(24px)
        margin-right get-vw(78px)
        .skills_other_title
          margin-top get-vw(45px)
        .skills_other_list
          margin-top get-vw(25px) 
  //#############################################
  // Books
  //#############################################          
  #books
    padding-bottom get-vw(147px)
    .books_wrapper
      width get-vw(1298px)
      height get-vw(625px)
      padding-bottom get-vw(25px)
      ul 
        width get-vw(2604px)
        li
          margin-right get-vw(22px)
          a
            border get-vw(14px) solid active
            height get-vw(565px)          
            &:after
              width get-vw(100px)
              height get-vw(100px)
              border-radius: get-vw(50px)
            img
              width get-vw(387px)
              height get-vw(537px)
  //#############################################
  // Contacts
  //#############################################            
  #contacts
    .appeal_wrapper
      width: get-vw(735px)
      margin: 0 auto 50px
      padding: 0 70px
      .message
        max-width 392px
        font-size get-vw(24px)
        line-height get-vw(30px)
        border-radius get-vw(60px)
        padding get-vw(26px) get-vw(32px) get-vw(26px) get-vw(40px)
        .extended_logo
          width get-vw(100px)
          height get-vw(100px)
          right get-vw(-127px)
          bottom get-vw(-10px)      
        &:after
          width get-vw(35px)
          height get-vw(55px)
          right get-vw(-11px)
      .message_response_wrapper
        left get-vw(120px)   
        .message_response
          max-width 373px
          font-size get-vw(24px)
          line-height get-vw(30px)
          border-radius get-vw(60px)
          padding get-vw(26px) get-vw(32px)
          margin 0 auto get-vw(8px)
          &:before
            width get-vw(35px)
            height get-vw(55px)    
            left get-vw(-11px)
            bottom 0 
          &:after
            border-radius: get-vw(50px)
            width get-vw(100px)
            height get-vw(100px)
            left get-vw(-120px)
            bottom get-vw(-10px)
        .status
          margin-left: get-vw(16px)
    form 
      margin 0 auto get-vw(80px)
      max-width 475px
      .typing_wrap
        margin-left get-vw(20px)
        margin-bottom get-vw(5px)   
      textarea
        height 300px
        font-size get-vw(24px)
        line-height get-vw(30px)
        border-radius get-vw(20px)
        padding get-vw(20px)
        margin-bottom: 35px
      input.button 
        width  get-vw(185px)
        font-size  get-vw(18px)
    footer
      padding get-vw(35px) 0 get-vw(30px)
      ul.contacts  
        li
          margin-right get-vw(65px)
          a
            &.moi_krug img
              width get-vw(182px)
              height get-vw(44px)
            &.github img
              width get-vw(128px)
              height get-vw(35px)
            &.linkedin img
              width get-vw(169px)
              height get-vw(42px)                        