@media screen and (min-width: 1920px)
    .container
        padding 0 61.248px
    .substrate 
        padding 30.144px 0 100px
    .menu
        .logo
            img 
                width 163.2px
                left: -78px;
        nav
            margin-top 27.072px
            a 
                font-size 28.8px
                margin-right 71.04px
    .appeal
        margin-top 120.96px
        h1 
            font-size 76px
            line-height 120.96px
        h2 
            font-size 32.64px
            letter-spacing 13.44px
            margin-bottom 17,28px
        p 
            font-size 23.04px
            line-height 36.48px
            margin 15.36px 0 40.896px
        .button
            font-size 23.04px
            padding 16.32px 23.616px 12.288px 23.04px
            .icon_pdf
                width 27.84px
                height 30.72px
                margin-left 9.216px
    .illustration
        img 
            width 917.76px