@media screen and (max-width : 320px)
  underline()
    content ""
    display block
    background-color blue
    width 90px
    max-width 90px
    height 4px
    max-height 4px
    border-radius 20px
    margin 10px auto 0 
  #greeting
    padding 0 0 25px 0
  .container
    padding 0
    .block_wrapper
      margin 0
      flex-wrap wrap-reverse  
  .button
    font-size 13px
    line-height 13px
    padding 13px 20px 9px 
    .icon_pdf
    .icon_zoom
      width 14px
      height 16px
      margin-left 8px
  .menu 
    background none
    padding 10px 13px 0
    justify-content space-between
    .logo
      width auto
      svg
        width 60px
        .ivanopol_logo
          .a
            fill #c1c1f9
    nav
      display none
  .appeal
    width 100%
    padding 17px 34px
    margin 0
    max-width none
    h1
      font-size 25px
      line-height 25px
      margin-bottom 7px
    h2 
      font-size 10px
      margin-bottom 0
    p
      font-size 11px
      line-height 17px
      width 100%
      max-width none
      margin 0 0 15px
    .underline
      background-color blue
      width 76px
      max-width 76px
      height 3.4px
      max-height 4px
      border-radius 20px
      margin 8.5px 0   
    .button_wrapper
      text-align center
      .button
        float none
        display inline-block
  .illustration
    width 100%
    background-color select
    #illustration
      .computer_wrap
        width 247px
        position relative
        margin 93px auto 0
        left inherit
        top inherit
        .telnet_wrap
          width 150px
          height 95px
          top 51px
          left 23px
          padding 6px
          .vue-typer
            font-size 15px
            line-height 15px
      .icon_docker
        top -47px
        left 73px
        width 58px
        height 52px
      .icon_vim 
        top 60px
        left 8.5px
        width 27px
        height 27px 
      .icon_ubuntu
        top -20px
        left 221px
        width 37px
        height 35px 
      .icon_bitbucket
        top 103px
        left 270px
        width 29.8px
        height 29.8px 
      .icon_github
        top -72px
        left 187px
        width 34px
        height 34px 
      .icon_laravel
      .icon_git
      .icon_git2
      #background
        display none
  #experience
  #skills
  #books
  #contacts
    display none

  #history
    .slide
      height 570px
      .content_wrapper
        width 230px
        .img_wrapper
          height 196px
        img 
          &.pgti_img
            max-width none
            width 87px
          &.pnipu_img
            max-width none
            width 110px        
          &.avatar
            width 153px
            height 153px
            border 7px solid select
            border-top-width 5px
            border-right-width 9px
            border-bottom-width 9px
            margin 0 auto 38px
        p
          font-size 12px
          line-height 15px
          .icon_born
            width 13px
            height 32px
            left -21px
            top -8px
          &#born:after
            underline() 
          &.pgti
          &.pnipu
            margin-bottom 0            
          &.pgti:before
          &.pnipu:before  
            width 27px       
            height 15px
            left -32px
  .siema_wrapper
    .button_wrapper
      display none
    .arrow
      width 46px
      height 46px
      top 78%
      span
        font-size 10px
        line-height 12px
        top 55px
    .arrow_left
      left 82px
    .arrow_right
      right 82px
  