path = './assets/fonts/retro_gaming/'

@font-face 
    font-family 'Retro Gaming'
    src local('Retro Gaming'), url(path'retrogaming.ttf') format('truetype')
    font-weight 400
    font-style normal
